@charset "utf-8";
/* CSS Document */
.content_contact{
width:auto;
}
.content_contact #scope{
width:auto;
background-color:#CCCCCC;



}
.content_contact #scope #id{
width:30px;
float:left;
height:20px;

}
.content_contact #scope #fullname{
width:100px;
float:left;
}
.content_contact #scope #title{
width:70px;
float:left;
}
.content_contact #scope #detail{
width:120px;
float:left;
}
.content_contact #scope #address{
width:100px;
float:left;
}
.content_contact #scope #tel{
width:90px;
float:left;
}
.content_contact #scope #email{
width:80px;
float:left;
}
.content_contact #scope #date{
width:80px;
float:left;
}